<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @post.cover %>
</p>

<% unless @post.comments.empty? %>
<div class="comments">
	<% 	@post.comments.each do |comment|%>
		<p><%= comment.author %></p>say:
		<p><%= comment.message %></p>
	<% end %>
</div>
<% end %>

<div class="new_comments">
	<%= form_for [@post, Comment.new] do |f| %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
